*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
background-color: whitesmoke;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-direction: column;
height: 90vh;
}
#tetris{
    background-color: white;
    box-shadow: 0px 0px 10px 0 lightgrey;
}